.routes-container {
  height : 100vh; // fill full height
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  @header-height 1fr;
  grid-template-areas: "header" "content";
}

.nav-bar { grid-area: nav-bar; }

.content {
  grid-area: content;
  background-color: @content-background-color;
  .content-card{
    border-radius: 5px;
    margin: @content-margin;
    height: calc(100% - @content-margin*2);
    background-color: @content-card-background-color;
  }
}

.header {
  grid-area: header;
  color: @header-color;
}