.grid-container-layouts {
    display: grid;
    grid-template-columns:  1.7fr 0.2fr;
    grid-template-rows: 0.2fr 1.8fr;
    grid-template-areas: "title title" "grid grid";
    .title {
        display: grid;
        grid-template-columns: 2.1fr 0.1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". control";
        grid-area: title;

        border-bottom: solid;
        margin: 20px;
        border-width: 2px;
        font-size: 24px;
        padding-left: 20px;
    }

    .control {
        grid-area: control;
    }

    .grid {
        grid-area: grid;
        display: grid;
        grid-template-columns: repeat(4, @grid-item-width);
        grid-template-rows: repeat(1, 300px);
        grid-gap: 15px;
        margin: 20px;
        .item{
            background-color:  @grid-item-color;
            border: solid;
            border-width: 1px;

            display: grid;
            grid-template-columns: 0.7fr 1.3fr 1fr;
            grid-template-rows: 0.3fr 1.7fr;
            grid-template-areas: "delete-button item-title button" "render-content render-content render-content";
            .button {
                grid-area: button;
                cursor: pointer;
                margin: 10px;
                background-color: #67bbff;
                padding: 4px;
                width: 100px;
                z-index: 2;
                border-radius: 5px;
                font-size: 17px;
                text-align: center;
            }
            .item-title {
                grid-area: item-title;
                text-align: center;
                padding-top: 5px;
                font-size: 24px;
                color : white;
            }
            .render-content { grid-area: render-content; }
            .item-delete-button {
                grid-area: delete-button;
                padding: 12px;
                color : #ff1a23;
                cursor: pointer;
            }
        }

    }
}

