.fill {
    height: 100%; /*can be anything*/
    width: 100%; /*can be anything*/
    display: inline-block;
    vertical-align: top; /*not required*/
    //border: 1px solid black; /*not required*/
    position: relative;
    background-color: aliceblue;
}
.fill img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}