.grid-container-configuration {
  display: grid;
  grid-template-columns: 307px 1.7fr 0.3fr;
  grid-template-rows: 109px 1auto;
  grid-template-areas: "components-title configuration-title configuration-title" "components configuration configuration";
  .components {
    grid-area: components;
    order-right: solid;
  }

  .components-title {
    grid-area: components-title;
    border-bottom: solid;
    margin: 20px;
    border-width: 2px;
    font-size: 20px;
  }

  .configuration-title {
    display: grid;
    grid-template-columns: 1.7fr 280px;
    grid-template-rows: 1fr;
    grid-template-areas: ". configuration-buttons";
    grid-area: configuration-title;

    border-bottom: solid;
    margin: 20px;
    border-width: 2px;
    font-size: 24px;
    padding-left: 20px;
  }

  .configuration-buttons {
    grid-area: configuration-buttons;
    .button{
      cursor: pointer;
      &.selected{
        color: #170aff;
      }
      &.succses{
        color: #45BF35;
      }
      &.warning{
        color: red;
      }
      svg{

        position: relative;
        top: 5px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }

  }

  .configuration {
    grid-area: configuration;
    margin: 20px;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.preview{
  .react-grid-item {
    background-color: white !important;
  }
}
