.grid-container {
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 200px 1pt;
    grid-template-areas: "controllTools react-grid" "componentsList react-grid";
}

.controllTools {
    grid-area: controllTools;
    background: antiquewhite;
}

.componentsList {
    grid-area: componentsList;
    background-color: #001729;
}

.react-grid {
    grid-area: react-grid;
    background-color: gainsboro;
}

.log-text {
    width: calc(100% - 10px);
}
.preview{
    background-color: white !important;
}