@import '~antd/dist/antd';

@import '../routes/Routes';
@import "../components/index";
@import "../containers/index";

@header-height : 50px;
@header-color : white;
@content-margin : 5px;
@content-background-color : #001729;
@content-card-background-color : @white;


@grid-item-width : 2fr;
@grid-item-height : 7vw;
@grid-item-color : rgba(0, 0, 0, 0.27);

